.list__item {
    margin-bottom: 8px;
    padding: 10px 15px;
    background-color: rgb(175, 175, 175);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list__item:last-child {
    margin-bottom: 0px;
}

.list__name {
    font-weight: 600;
}

.list__number {
    font-weight: 500;
}

.list__btn {
    padding: 5px 10px;
    border: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    background-color: #0101ff;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto;
    margin-right: 8px;
    transition-property: background-color, color, transform;
    transition-duration: 300ms;
    transition-timing-function: linear;
}

.list__btn:hover,
.list__btn:focus {
    color: #000000;
    background-color: aqua;
}

.list__btn:last-child {
    margin-right: 0px;
}